<div class="row">
    <div class="col-md-4">
        <div id="tree"></div>
    </div>
    <div class="col-md-8">

        <table id="acltree">
            <tbody>

            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Home/Index.js"></script>
    <link rel="stylesheet" href="~/Scripts/Home/Index.css" />
}
